.about-company__content .company__title {
  font-size: 32px;
  padding-top: 42px;
}

.about-company__content .company__links {
  color: #b6b5b5;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 40px;
}

.about-company__content .company__links .company__links-home {
  color: #b6b5b5;
}

.about-company__content .company__links .company__links-home:hover {
  color: #365edc;
}

.about-company__content .company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-company__content .company-content .company__left {
  width: 244px;
}

.about-company__content .company-content .company__left-nav {
  margin-bottom: 32px;
}

.about-company__content .company-content .company__left-nav .active {
  font-weight: 700;
  background: #fafafa;
}

.about-company__content .company-content .company__left-nav li {
  display: block;
  line-height: 20px;
  padding: 14px 30px 17px 15px;
  border: 1px solid #ececec;
}

.about-company__content .company-content .company__left-nav li a {
  font-size: 13px;
}

.about-company__content .company-content .company__left-nav li:hover {
  background: #fafafa;
}

.about-company__content .company-content .company__left-img {
  width: 244px;
}

.about-company__content .company-content .company__left-telega {
  margin: 32px 0;
  width: 100%;
  text-align: center;
  border: 1px solid #ececec;
  font-size: 15px;
  color: #7777;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about-company__content .company-content .company__left-telega:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 10px #bebebe;
          box-shadow: 0 0 10px #bebebe;
  z-index: 100;
}

.about-company__content .company-content .company__left-telega svg {
  fill: #365edc;
}

.about-company__content .company-content .company__left-telega-content {
  padding: 40px 15px 15px;
}

.about-company__content .company-content .company__left-telega-text {
  margin-top: 12px;
}

.about-company__content .company-content .company__left-telega-btn {
  display: block;
  padding: 20px 26px 18px;
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid #ececec;
  width: 100%;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.about-company__content .company-content .company__left-telega-btn:hover {
  -webkit-box-shadow: 0 0 40px 40px #365edc inset;
          box-shadow: 0 0 40px 40px #365edc inset;
  color: #fff;
}

.about-company__content .company-content .company__left-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 20px 18px;
  border: 1px solid #ececec;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 13px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about-company__content .company-content .company__left-send:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 10px #bebebe;
          box-shadow: 0 0 10px #bebebe;
  z-index: 100;
}

.about-company__content .company-content .company__left-send-text {
  margin-left: 20px;
}

.about-company__content .company-content .company__left-manadger {
  margin: 32px 0;
  border: 1px solid #ececec;
  text-align: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about-company__content .company-content .company__left-manadger:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 10px #bebebe;
          box-shadow: 0 0 10px #bebebe;
  z-index: 100;
}

.about-company__content .company-content .company__left-manadger .manadger-content {
  padding: 34px 15px 15px;
}

.about-company__content .company-content .company__left-manadger-img {
  margin: 0 auto 18px;
  display: block;
  width: 150px;
  height: 150px;
  background: url(../img/company__left-manadger.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.about-company__content .company-content .company__left-manadger-text {
  text-transform: uppercase;
  font-size: 10px;
  color: #9999;
  margin-bottom: 10px;
}

.about-company__content .company-content .company__left-manadger-name {
  color: #333333;
  font-size: 15px;
}

.about-company__content .company-content .company__left-manadger-tel {
  color: #7777;
  font-size: 13px;
  margin-top: 8px;
}

.about-company__content .company-content .company__left-manadger-btn {
  text-transform: uppercase;
  font-size: 10px;
  width: 100%;
  display: block;
  padding: 20px 26px 18px;
  border: 1px solid #ececec;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.about-company__content .company-content .company__left-manadger-btn:hover {
  -webkit-box-shadow: 0 0 40px 40px #365edc inset;
          box-shadow: 0 0 40px 40px #365edc inset;
  color: #fff;
}

.about-company__content .company-content .company__left-element {
  margin-bottom: 32px;
}

.about-company__content .company-content .company__left-element .element__title {
  margin-bottom: 13px;
  font-size: 16px;
}

.about-company__content .company-content .company__left-element .element__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 17px;
  border: 1px solid #ececec;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about-company__content .company-content .company__left-element .element__text:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 10px #bebebe;
          box-shadow: 0 0 10px #bebebe;
  z-index: 100;
}

.about-company__content .company-content .company__left-element .element__text-img {
  width: 40px;
  padding-right: 40px;
  height: 40px;
  margin-top: 5px;
  background: url(../img/about__left-element.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.about-company__content .company-content .company__left-element .element__text-text {
  margin-left: 10px;
}

.about-company__content .company-content .company__left-element .element__text-date {
  color: #9999;
  font-size: 12px;
  margin-bottom: 5px;
}

.about-company__content .company-content .company__left-element .element__text-href {
  font-size: 13px;
  line-height: 1.692em;
}

@media (max-width: 991px) {
  .about-company__content .company-content .company__left {
    display: none;
  }
}

.about-company__content .company-content .company__right {
  padding-left: 30px;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-company__content .company-content .company__right {
    padding: 0;
  }
}

.about-company__content .company-content .company__right-text {
  margin-bottom: 25px;
  color: #777777;
}

.about-company__content .company-content .company__right-title {
  margin: 33px 0 25px;
  color: #333333;
  font-size: 24px;
}

.about-company__content .company-content .company__right-zitata {
  position: relative;
  margin: 40px 0;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  min-height: 40px;
  padding: 2px 20px 2px 37px;
}

.about-company__content .company-content .company__right-zitata::after {
  bottom: 5px;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  top: 5px;
  width: 2px;
  background-color: #285fdb;
}

.about-company__content .company-content .company__right-ul {
  margin: 26px 0 36px;
  color: #777777;
  font-size: 15px;
}

.about-company__content .company-content .company__right-ul li {
  margin: 8px 0 0 21px;
  list-style-type: none;
  position: relative;
}

.about-company__content .company-content .company__right-ul li::before {
  content: "\2014";
  margin: 0 7px 0 -21px;
}
