@import "katalog";
@import "contacts";
@import "aboutCompany";

$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize, $line) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth})
    );
    line-height: calc(
      (#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth})) *#{$line}
    );
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    line-height: calc((#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}))) *#{$line};
  }
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  font-weight: 300;
  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

ul,
p,
h2,
h1,
h3,
h4,
body {
  margin: 0;
  padding: 0;
  font-weight: 350;
}

a {
  color: black;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1408px;

  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 576px) {
    padding: 0 10px;
  }
}

.button {
  display: inline-block;
  padding: 16px 26px;
  @include adaptiv-font(11, 11, 1.2);
  color: white;
  background-color: #365edc;
  text-transform: uppercase;
}

.header {
  .header__max {
    display: flex;
    justify-content: center;
    align-items: center;

    .header__wrapper {
      max-width: 1280px;
      width: 100%;
      padding: 0 35px;

      .top_header {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-block {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .ham {
            display: none;
            margin-right: 20px;

            i {
              color: #000;
            }
          }

          .logo {
            display: block;
            margin-right: 25px;

            svg {
              .colored_theme_svg {
                fill: #365edc;
              }
            }
          }

          .location {
            margin-right: 25px;

            .location_link {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #000;
              text-decoration: none;

              i {
                margin-left: 5px;
              }

              &:hover {
                color: #365edc;
              }
            }
          }

          .phone {
            margin-right: 15px;

            a {
              color: #000;
              text-decoration: none;
              font-size: 20px;
              font-weight: 600;

              i {
                margin-left: 5px;
              }

              &:hover {
                color: #365edc;
              }
            }
          }

          .callback {
            margin-right: 15px;

            a {
              color: #365edc;
              text-decoration: none;
              font-size: 10px;
              font-weight: 300;

              &:hover {
                color: #000;
              }
            }
          }
        }

        .right-block {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .phone {
            display: none;
          }

          .search {
            margin-right: 20px;

            i {
              margin-right: 15px;
            }

            a {
              text-decoration: none;
              color: #000;
              font-weight: 500;
            }

            &:hover {
              color: #365edc;

              a {
                color: #365edc;
              }
            }
          }

          .personal {
            i {
              margin-right: 15px;
            }

            a {
              text-decoration: none;
              color: #000;
              font-weight: 500;
            }

            &:hover {
              color: #365edc;

              a {
                color: #365edc;
              }
            }
          }

          .cart {
            display: none;
          }
        }
      }

      @media only screen and (max-width: 768px) {
        .top_header {
          .left-block {
            .ham {
              display: block;
            }

            .logo {
              max-width: 100px;

              svg {
                max-width: 100px;
              }
            }

            .location {
              display: none;
            }

            .phone {
              display: none;
            }

            .callback {
              display: none;
            }
          }

          .right-block {
            .phone,
            .search,
            .personal,
            .cart {
              display: block;
              margin-right: 20px;

              a {
                font-size: 0;

                i {
                  margin: 0;
                  color: rgba(0, 0, 0, 0.8);
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      .menu_block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu__wrapper {
          width: 100%;
          background-color: #365edc;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          position: relative;

          .menu-item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;

            .menu-item_link {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: #fff;
              width: 100%;
              height: 100%;

              i {
                margin-right: 10px;
                opacity: 0.8;
              }

              &:hover {
                background-color: #244eca;

                i {
                  opacity: 1;
                }
              }

              border-radius: inherit;
            }

            .sub_menu {
              display: none;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              top: 50px;
              left: 0;
              position: absolute;
              min-height: 50px;
              background-color: #fff;
              z-index: 150;

              .left-block {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                border-right: 1px solid #ececec;

                .sub_menu-link {
                  width: 100%;
                  padding: 0 20px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  min-height: 50px;
                  text-decoration: none;
                  color: #000;
                  font-size: 14px;

                  i {
                    margin-left: 15px;
                    font-size: 12px !important;
                  }

                  &:last-child {
                    border-bottom: none;
                  }

                  &:hover {
                    color: #365edc;
                  }
                }
              }

              .right-block {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                * {
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  flex-wrap: wrap;

                  .sub_link-item_link {
                    padding: 10px 5px;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    margin: 0 20px;

                    .icon {
                      margin-right: 10px;

                      svg {
                        height: 40px;
                        fill: #365edc;
                      }
                    }

                    &:hover {
                      color: #365edc;
                    }
                  }
                }
              }
            }
            &:hover {
              .sub_menu {
                display: flex;
              }
            }
            &:first-child {
              border-radius: 5px 0 0 5px;
            }
            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }

          .menu-item.rel {
            position: relative;
          }
        }
      }

      @media only screen and (max-width: 768px) {
        .menu_block {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .header__wrapper {
        padding: 0 15px;
      }
    }
  }
  &__slider {
    height: 631px;
    @media (max-width: 991px) {
      .swiper-pagination {
        bottom: 360px;
      }
      .swiper-button-next {
        display: none;
      }
      .swiper-button-prev {
        display: none;
      }
    }

    &-wrapper {
      .header__slider-slide {
        height: 100%;
        width: 100%;

        background: url(../img/header__moto-bg.jpg) no-repeat;
        @media (max-width: 991px) {
          text-align: center;
          background-size: 100% 280px;
          text-align: center;
        }
        .header__slide-content {
          width: 50%;
          position: absolute;
          bottom: 80px;
          margin-left: 90px;
          @media (max-width: 991px) {
            color: black;
            position: static;
            margin: 340px auto 0;
          }
        }
        .header__slide-type {
          margin-bottom: 16px;
          @include adaptiv-font(11, 11, 1.2);
          @media (max-width: 991px) {
            display: none;
          }
        }
        .header__slide-title {
          @include adaptiv-font(34, 18, 1.2);
          color: white;
          @media (max-width: 991px) {
            color: black;
          }
        }

        .header__slide-text {
          max-height: 189px;
          color: white;
          margin-top: 23px;
          @include adaptiv-font(15, 13, 1.2);
          @media (max-width: 991px) {
            color: black;
          }
        }
        .header__slide-btn {
          margin-top: 29px;
          @include adaptiv-font(11, 11, 1.2);
        }
      }
    }
  }
}

.about {
  &__header {
    display: flex;
    width: 100%;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .first {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(../img/about__header1.jpg);
      background-size: cover;
      background-position: center center;
      width: 25%;
      @media (max-width: 991px) {
        width: 50%;
      }
    }
    .second {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(../img/about__header2.jpg);
      background-size: cover;
      background-position: center center;
      width: 25%;
      @media (max-width: 991px) {
        width: 50%;
      }
    }
    .last {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(../img/about__header3.jpg);
      background-size: cover;
      background-position: center center;

      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
      }
    }

    &-element {
      display: flex;
      flex-direction: column;

      text-align: left;
      justify-content: flex-end;
      height: 275px;
      padding: 33px 40px 34px 40px;
      @media (max-width: 576px) {
        height: 160px;
      }
      .header__element-type {
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: white;
        font-weight: 700;
        margin: 0 0 11px;
        opacity: 0.7;
        @include adaptiv-font(16, 9, 1.2);
      }
      .header__element-title {
        @include adaptiv-font(24, 9, 1.2);
        color: white;
        font-weight: 700;
      }
    }
  }
  &__footer {
    background: #ececec;
    &-row {
      padding: 69px 0 33px 0;
      display: flex;
      justify-content: center;
      gap: 20px;
      @media (max-width: 991px) {
        flex-wrap: wrap;
        gap: 40px;
      }
      .about__footer-element {
        text-align: center;
        padding-bottom: 32px;
        @media (max-width: 991px) {
          width: 47%;
        }
        &-title {
          @include adaptiv-font(16, 16, 1.2);
        }
        &-text {
          @include adaptiv-font(13, 13, 1.2);
        }
        &-img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.popular {
  &__title {
    padding-top: 68px;
    margin-bottom: 33px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;

    .popular__item {
      text-align: center;
      border: 1px solid #ececec;
      width: 20%;
      padding: 39px 10px 35px;
      @media (max-width: 991px) {
        width: 50%;
      }
      &-img {
        margin: 0 auto 16px;
        @media (max-width: 576px) {
          width: 60%;
        }
      }
      &-text {
        @include adaptiv-font(14, 14, 1.2);
      }
    }
  }
}

.best {
  text-align: center;
  background: #ececec;
  &__row {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    .first {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background: url(../img/best1.jpg);
      width: 50%;

      background-size: cover;
      background-position: center center;
      color: white;
    }
    .best__left-name {
      @include adaptiv-font(14, 14, 1.2);
    }
    .best__left-top-art {
      @include adaptiv-font(12, 12, 1.2);
    }
    &-element {
      padding: 25px 25px 29px;
      text-align: center;

      width: 25%;
      border: 1px solid #ececec;
      @media (max-width: 767px) {
        width: 50%;
      }
      &-img {
        margin: 0 auto 20px;
        width: 100%;
      }
      .best__count {
        @include adaptiv-font(12, 12, 1.2);
      }
      &-name {
        @include adaptiv-font(14, 13, 1.2);
      }
      .price {
        font-weight: 700;
        @include adaptiv-font(17, 14, 1.2);
      }
    }
  }
}

.top {
  &__content {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
    &-right {
      .top__data {
        display: flex;
        @include adaptiv-font(12, 12, 1.2);
        margin: 15px 0;
      }
      .top__price {
        @include adaptiv-font(18, 18, 1.2);
        margin: 15px 0;
      }
      .top__sale {
        @include adaptiv-font(11, 10, 1.2);
        display: flex;
        margin: 15px 0;
      }
      .top__name {
        @include adaptiv-font(20, 18, 1.2);
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    padding-top: 60px 0 27px;

    &-item {
      width: 23%;

      text-align: center;
      padding: 10px 0 22px;
      @media (max-width: 991px) {
        width: 46%;
      }
      &-img {
        border-radius: 3px;
        width: 100%;
        padding-top: 137.7%;
      }
      &-SubType {
        margin: 25px 0 6px;
        @include adaptiv-font(18, 18, 1.2);
      }
      &-type {
        margin-bottom: 20px;
        @include adaptiv-font(13, 13, 1.2);
      }
      .top__img1 {
        background: url(../img/top__row1.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .top__img2 {
        background: url(../img/top__row2.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .top__img3 {
        background: url(../img/top__row3.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .top__img4 {
        background: url(../img/top__row4.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}

.sale {
  background: #ececec;
  text-align: center;
  &__elements {
    text-align: left;
    display: flex;

    gap: 32px;
    justify-content: space-between;
    @media (max-width: 576px) {
      flex-direction: column;
    }
    .sale__element {
      border: 1px solid #ececec;
      border-radius: 3px;

      background: white;
      display: flex;
      width: 50%;
      padding: 32px 40px 36px 37px;
      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
      &-content {
        width: 50%;
        @media (max-width: 991px) {
          width: 100%;
        }
        .sale__element-timing {
          @include adaptiv-font(13, 12, 1.2);
        }
        .sale__element-name {
          @include adaptiv-font(18, 14, 1.2);
        }
        .sale__element-text {
          @include adaptiv-font(13, 13, 1.2);
          margin: 10px 0 20px;
        }
      }

      .sale__element-img {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      .img1 {
        background: url(../img/sale1.jpg);
        background-size: cover;
        background-position: center center;
      }
      .img2 {
        background: url(../img/sale2.jpg);
        background-size: cover;
        background-position: center center;
      }
    }
  }
  &__img {
    background: url(../img/sale_bg.jpg) no-repeat;
    width: 100%;
    height: 180px;
    background-position: center center;
  }
}

.collection {
  &__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1200px) {
      justify-content: center;
    }
    @media (max-width: 576px) {
      .col {
        display: none;
      }
    }
    .collection__element {
      border: 1px solid #ececec;
      border-radius: 3px;
      padding: 40px 30px 29px;
      background: #ececec;
      text-align: center;
      width: 18%;
      @media (max-width: 1200px) {
        width: 30%;
      }
      @media (max-width: 767px) {
        width: 48%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }

      &-text {
        @include adaptiv-font(15, 14, 1.2);
        margin-top: 10px;
      }
      &-img {
        margin: 0 auto;
        width: 150px;
        height: 150px;
      }
      .img1 {
        background: url(../img/collection1.jpg);
        background-position: center center;
        background-size: cover;
      }
      .img2 {
        background: url(../img/collection1.jpg);
        background-position: center center;
        background-size: cover;
      }
      .img3 {
        background: url(../img/collection1.jpg);
        background-position: center center;
        background-size: cover;
      }
      .img4 {
        background: url(../img/collection1.jpg);
        background-position: center center;
        background-size: cover;
      }
      .img5 {
        background: url(../img/collection1.jpg);
        background-position: center center;
        background-size: cover;
      }
    }
  }
}

.look {
  &__content {
    border: 1px solid #ececec;
    display: flex;
    @media (max-width: 991px) {
      padding-right: 3.266rem;
      padding-bottom: 3.266rem;
      padding-top: 3.266rem;
      padding-left: 3.266rem;
      width: 100%;
    }
    @media (max-width: 576px) {
      flex-direction: column;
    }
    .look__about {
      width: 75%;
      display: flex;
      padding-bottom: 3.266rem;
      padding-top: 3.266rem;
      padding-left: 3.266rem;
      @media (max-width: 991px) {
        flex-direction: column;
        padding: 0;
        width: 58.3%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
      &-img {
        width: 50%;
        max-height: 500px;
        @media (max-width: 991px) {
          padding-right: 3.266rem;
          padding-bottom: 3.266rem;
          padding-top: 3.266rem;
          padding-left: 3.266rem;
          width: 100%;
        }
        @media (max-width: 576px) {
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
      &-content {
        width: 50%;
        padding-bottom: 3.266rem;
        padding-right: 3.266rem;
        @include adaptiv-font(13, 13, 1.2);
        padding-left: 3.266rem;
        @media (max-width: 991px) {
          width: 100%;
        }
        &-type {
          @include adaptiv-font(10, 10, 1.2);
        }
        &-look {
          @include adaptiv-font(20, 20, 1.2);
        }
        &-text {
          @media (max-width: 576px) {
            display: none;
          }
          @include adaptiv-font(15, 15, 1.2);
        }
        &-season {
          margin-top: 10px;
          @media (max-width: 576px) {
            display: none;
          }
        }
        &-style {
          margin-top: 10px;
          @media (max-width: 576px) {
            display: none;
          }
        }
        &-color {
          margin-top: 10px;
          @media (max-width: 576px) {
            display: none;
          }
        }
        &-price {
          margin-top: 10px;
          @media (max-width: 576px) {
            display: none;
          }
        }
      }
    }
    .look__katalog {
      width: 25%;
      @media (max-width: 991px) {
        width: 100%;
      }
      &-element {
        border: 1px solid #ececec;
        display: flex;
        padding: 13px 19px;

        .look__katalog-content {
          @include adaptiv-font(13, 13, 1.2);
          &-price {
            @include adaptiv-font(15, 15, 1.2);
          }
        }
        .katalog__img {
          width: 80px;
        }
      }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 26px;
    margin-bottom: 61px;
    background: #fafafa;
    color: #333;
    border-color: #fafafa;
    border-top-color: #ececec;
    font-weight: 400;
    @include adaptiv-font(11, 11, 1.2);
    border: 1px solid;
    letter-spacing: 0.8px;
    &:hover {
      background-color: #5073e1;
      border-color: #5073e1;
      color: white;
    }
  }
}

.comment {
  padding-bottom: 47px;
  border: 1px solid #ececec;
  border-radius: 3px;
  &__slider {
    .comment__slide {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      &-header {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-top: 67px;
        @media (max-width: 576px) {
          flex-direction: column;
        }
        .comment__slide-left {
          display: flex;
          &-img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 30px;
            margin-bottom: 15px;
          }
          &-text {
            @include adaptiv-font(15, 10, 1.2);
            .comment__slide-left-name {
              @include adaptiv-font(20, 18, 1.2);
            }
          }
        }
        .comment__slide-stars {
          display: flex;
          img {
            width: 20px;
            height: auto;
          }
        }
      }
      &-text {
        width: 50%;
        margin-top: 30px;
        @include adaptiv-font(15, 15, 1.2);
      }
    }
  }
  &__items {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    .comment__item {
      background: #ececec;
      border-radius: 3px;
      display: flex;
      width: 48%;
      @media (max-width: 991px) {
        flex-direction: column;
        width: 46%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
      &-content {
        padding: 42px 10px 68px 44px;
        @media (max-width: 991px) {
          padding-bottom: 15px;
        }
        .comment__item-type {
          @include adaptiv-font(10, 10, 1.2);
        }
        .comment__item-name {
          @include adaptiv-font(24, 18, 1.2);
        }
        .comment__item-text {
          @include adaptiv-font(13, 13, 1.2);
        }
      }
      &-img {
        width: 50%;
        @media (max-width: 991px) {
          width: 100%;
        }
      }
    }
  }
}

.blog {
  text-align: center;
  border: 1px solid #ececec;
  border-radius: 3px;
  &__row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .blog__element {
      border: 1px solid #ececec;
      border-radius: 3px;
      position: relative;
      width: 23%;
      height: 458px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 991px) {
        width: 47%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }

      &-about {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 54.5%;
        background: white;
        padding: 23px 24px;
        &-type {
          @include adaptiv-font(10, 10, 1.2);
          margin-bottom: 11px;
        }
        &-name {
          @include adaptiv-font(14, 14, 1.2);
        }
        &-date {
          @include adaptiv-font(13, 12, 1.2);
        }
      }
    }
    .first {
      width: 50%;
      @media (max-width: 991px) {
        width: 47%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .bg1 {
      background: url(../img/blog1.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .bg2 {
      background: url(../img/blog2.jpg) no-repeat;
      background-size: contain;
      background-position: top center;
    }
    .bg3 {
      background: url(../img/blog3.jpg) no-repeat;
      background-size: contain;
      background-position: top center;
    }
  }
}

.map {
  padding-bottom: 45px;
}

.company {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
    .company__text {
      padding: 32px 70px 32px 30px;
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      &-type {
        @include adaptiv-font(10, 10, 1.2);
      }
      &-title {
        margin: 20px 0 30px;
        @include adaptiv-font(24, 24, 1.2);
      }
      &-text {
        margin-bottom: 25px;
        @include adaptiv-font(15, 15, 1.2);
      }
    }
    .company__video {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      &-img {
        width: 100%;
        @media (max-width: 767px) {
          margin-top: 45px;
        }
      }
    }
  }
  &__row {
    text-align: center;
    padding: 79px 30px 19px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 576px) {
      gap: 20px;
    }
    &-item {
      width: 14%;
      margin-bottom: 30px;
      @media (max-width: 1200px) {
        width: 30%;
      }
      @media (max-width: 991px) {
        width: 45%;
        img {
          width: 60%;
        }
      }
    }
  }
}

.inst {
  &__row {
    padding-bottom: 70px;
    display: flex;
    width: 100%;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .inst__left {
      width: 40%;
      @media (max-width: 991px) {
        width: 100%;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      .inst__img {
        width: 100%;
        height: 100%;
      }
    }
    .inst__right {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      @media (max-width: 991px) {
        width: 100%;
      }
      a {
        display: block;
        width: 33.3%;
        height: 50%;
        @media (max-width: 991px) {
          width: 50%;
        }
      }
      .inst__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.ranee {
  background: #ececec;
  &__row {
    display: flex;

    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 47px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
    .ranee__element {
      font-size: 13px;
      width: 20%;
      background: white;
      border-radius: 3px;
      display: flex;
      padding: 14px;
      @media (max-width: 1200px) {
        width: 30%;
        flex-wrap: wrap;
      }
      @media (max-width: 576px) {
        width: 48%;
      }
      .ranee__price {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #333;
  color: #999;

  .footer-links {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .catalog_links,
    .catalog_links,
    .company_links,
    .info_links,
    .help_links {
      display: flex;
      flex-direction: column;

      .main_link {
        color: #fff;
        font-weight: 700;
        margin-bottom: 10px;
        text-decoration: none;

        &:hover {
          opacity: 0.5;
        }
      }

      .sub_link {
        text-decoration: none;
        color: #999;
        font-size: 14px;

        &:hover {
          color: #fff;
        }
      }
    }

    .contact_links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 300px;

      .subscribe_btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 45px 14px 18px;
        white-space: normal;
        background: #494949;
        border-color: #494949;
        text-align: left;
        letter-spacing: 0.8px;
        color: #fff;
        margin-bottom: 20px;

        &:hover {
          background-color: #5073e1;
          border-color: #5073e1;
        }
      }

      .phones {
        margin-bottom: 15px;

        i {
          margin-right: 10px;
        }

        .phone_link {
          margin-bottom: 10px;

          .phone {
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #999;
            }
          }
        }

        .callback_link {
          .callback {
            text-decoration: none;
            color: #999;
            font-size: 14px;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .email {
        margin-bottom: 15px;

        i {
          margin-right: 10px;
        }

        .email_link {
          .email {
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #999;
            }
          }
        }
      }

      .address {
        display: block;
        text-decoration: none;
        color: #fff;

        i {
          margin-right: 10px;
          color: #999;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .footer-links {
      flex-wrap: wrap;

      .catalog_links,
      .catalog_links,
      .company_links,
      .info_links,
      .help_links {
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 25px;
      }

      .contact_links {
        max-width: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;

        .subscribe_btn {
          max-width: 300px;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .footer-links {
      flex-direction: column;

      .catalog_links,
      .catalog_links,
      .company_links,
      .info_links,
      .help_links {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;
      }

      .contact_links {
        max-width: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;

        .subscribe_btn {
          max-width: 300px;
        }
      }
    }
  }

  .footer-social {
    width: 100%;
    padding: 0 30px;
    height: 100px;

    .social-icons {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.08);
        margin-top: -1px;
        z-index: 100;
      }

      .social-links {
        background: #333;
        display: flex;
        z-index: 150;
        padding: 0 30px;

        a {
          display: block;
          background: url("../img/social.svg") 0 0 no-repeat;
          font-size: 0;
          height: 45px;
          width: 45px;
          opacity: 0.6;
          border: 1px solid rgba(255, 255, 255, 0.08);
          margin: 0 10px;
          transition: opacity 0.3s ease;
          border-radius: 7px;

          &:hover {
            opacity: 1;
          }
        }

        a.vk {
          background-position: -1px -377px;

          &:hover {
            background-position: 0 -188px;
          }
        }

        a.fb {
          background-position: -95px -377px;

          &:hover {
            background-position: -94px -188px;
          }
        }

        a.in {
          background-position: -142px -518px;

          &:hover {
            background-position: -141px -329px;
          }
        }

        a.yo {
          background-position: -95px -518px;

          &:hover {
            background-position: -94px -329px;
          }
        }
      }
    }
  }

  .footer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;

    .rights {
      margin-left: 30px;
    }

    .pay_systems {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 200px;

      icon {
        display: inline-block;
        background: url("../img/payment.svg") 0 0 no-repeat;
        margin: 0 10px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      icon.mastercard {
        width: 24px;
        height: 16px;
        background-position: -279px -300px;

        &:hover {
          background-position: -327px -200px;
        }
      }

      icon.visa {
        width: 32px;
        height: 10px;
        background-position: -40px -304px;

        &:hover {
          background-position: -40px -204px;
        }
      }

      icon.mir {
        width: 36px;
        height: 20px;
        background-position: -357px -298px;

        &:hover {
          background-position: -449px -198px;
        }
      }
    }
  }
}

.section__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 68px;
  margin-bottom: 33px;
  .section__title {
    @include adaptiv-font(24, 24, 1.2);
  }
  .section__links {
    display: flex;
    align-items: center;
    &-katalog {
      @include adaptiv-font(10, 10, 1.2);
    }
    &-filtr {
      display: flex;
      li {
        @include adaptiv-font(13, 13, 1.2);
        display: block;
        margin: 0 13px;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}

.download-more__btn {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 18px 9px;
  color: #365edc;
  margin: 33px 0 61px;
  border: 1px solid rgba(54, 94, 220, 0.35);
  @include adaptiv-font(10, 10, 1.2);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #365edc inset;
    color: #fff;
  }
}

.ham {
  width: 15px;
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-right: 10px;
}

.x-icon {
  display: none;
  position: absolute;
  right: 0;
}

.menu {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 200vh;
  background: white;
  font-weight: 700;
  transform: translateY(-100%);
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: black;
  font-weight: 700;
  .menu__link {
    padding: 19px 46px 20px 19px;
  }
  .menu__link-img {
    display: block;
    width: 100%;

    display: flex;
    padding: 0px 46px 20px 19px;
    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

.show-menu {
  transform: translateY(0);
}
